        {% extends 'super_admin/main.html' %}
        {% load static %}
        {% block subtitle %}Dashboard{% endblock %}
        {% block first %}home {% endblock %}
        {% block second %}dashboard{% endblock %}
 
       {% block content%}
<div class="row">
<div class="col-md-6">
<canvas id="myChart" width="400" height="200"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'bar',
data: {
 labels: ['Registared Institution', 'System Users', 'Generated certificate', 'page views'],
 datasets: [{
     label: '# Dashboard',
     data: [{{total_unv}}, {{users}}, 3, 5],
     backgroundColor: [
         'rgba(255, 99, 132, 1)',
         'rgba(54, 162, 235, 1)',
         'rgba(255, 206, 86, 1)',
         'rgba(75, 192, 192, 1)',
         'rgba(153, 102, 255, 1)',
         'rgba(255, 159, 64, 1)'
     ],
     borderColor: [
         'rgba(255, 99, 132, 1)',
         'rgba(54, 162, 235, 1)',
         'rgba(255, 206, 86, 1)',
         'rgba(75, 192, 192, 1)',
         'rgba(153, 102, 255, 1)',
         'rgba(255, 159, 64, 1)'
     ],
     borderWidth: 1
 }]
},
options: {
 scales: {
     y: {
         beginAtZero: true
     }
 }
}
});
</script>
</div>

<div class="col-md-6">
<canvas id="myChart1" width="400" height="200"></canvas>
<script>
var ctx1 = document.getElementById('myChart1').getContext('2d');
var myChart1 = new Chart(ctx1, {
type: 'line',
data: {
 labels: ['user_created', 'student_registry', 'certificate_generation', 'student_deletion'],
 datasets: [{
     label: '# Activity logs',
     data: [{{user_creation}}, {{student_registry}}, {{certificate_generation}}, {{student_deletion}}],
     backgroundColor: [
         'rgba(255, 99, 132, 1)',
         'rgba(54, 162, 235, 1)',
         'rgba(255, 206, 86, 1)',
         'rgba(75, 192, 192, 1)',
         'rgba(153, 102, 255, 1)',
         'rgba(255, 159, 64, 1)'
     ],
     borderColor: [
         'rgba(255, 99, 132, 1)',
         'rgba(54, 162, 235, 1)',
         'rgba(255, 206, 86, 1)',
         'rgba(75, 192, 192, 1)',
         'rgba(153, 102, 255, 1)',
         'rgba(255, 159, 64, 1)'
     ],
     borderWidth: 1
 }]
},
options: {
 scales: {
     y: {
         beginAtZero: true
     }
 }
}
});
</script>
</div>

</div>


        <div class="row mt-5">
          <div class="col-12">
            <h4 class="text-center mb-3"><b>List of Institutions </b></h4>
              <div class="card-header callout callout-success ">
                <div class="">

                <h3 class="card-title">List of Registered Institutions </h3>
                </div>
                <div class="card-tools float-right">
                  <a  type="submit" class="btn  btn-outline-success btn-xs mr-5 text-xs " href="{% url 'super_admin:register' %}" >
                    <i class="fas fa-plus-circle"> Add new</i>
                  </a>
                </div>
                </div>
              <!-- /.card-header -->
   
              

              <div class="card-body table-responsive px-0">
                <table class="table table-hover text-nowrap table-light">
                  <thead  >
                    <tr>
                      <th>Logo</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone no</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for list in lists %}
                    <tr >
                      <td > <a href="{% url 'super_admin:univ' list.id%}"><img class="img-size-50 mr-3 img-circle" src="{{list.logo.url}}" alt=""></a> </td>
                      <td>{{list.name}}</td>
                      <td>{{list.email}}</td>
                      <td>{{list.phone_no1}}</td>
                      <td>
                        <a href="{% url 'super_admin:update_unv' list.id %}" class="btn text-secondary px-0 "><i class="fas fa-pencil-alt  "></i></a>
                      </td>
                     <td>
                       <a href="#" onclick="deletingUniversty({{list.id}})" class="btn text-danger px-0 "><i class="fas fa-trash-alt "></i></a>
                     </td>
                    </tr>
                    {% endfor %}
                   
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        
        
        {% endblock %}      


        {% block javascript %}

        <script>
          function deletingUniversty(id){
           Swal.fire({
             "title":"Are you sure",
             "text":"You want to delete this University ",
             "icon":"question",
             "showCancelButton":true,
             "cancelButtonText":"No, Cancel",
             "confirmButtonText":"Yes, Delete",
             "reverseButtons":true,
             "confirmButtonColor":"#dc3545",
             "cancelButtonColor":"#17a2b8",
             "width":330,
             "height":70,


           })
           .then(function(result) {
             if (result.isConfirmed){
               window.location.href="/super_admin/delete_unv/"+id+"/"
             }
           })
          }
        
          
        
        </script> 
        
        {% endblock %}      