<div class="row mb-5">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box shadow">
        <span class="info-box-icon bg-info"><i class=" nav-icon fa fa-database"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Registered Institutions</span>
          <span class="info-box-number">{{total_unv}}</span>
        </div>
      </div>
      </div>

      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box shadow">
          <span class="info-box-icon bg-success"><i class="fas fa-users"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">System Users</span>
            <span class="info-box-number">{{users}}</span>
          </div>
        </div>
        </div>

        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box shadow">
            <span class="info-box-icon bg-warning"><i class=" nav-icon fa fa-graduation-cap"></i></span>

            <div class="info-box-content">
              <span class="info-box-text ">Prepared Certificates</span>
              <span class="info-box-number">{{students}}</span>
            </div>
          </div>
          </div>

          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box shadow">
              <span class="info-box-icon bg-danger"><i class="nav-icon fa fa-search"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">Page views</span>
                <span class="info-box-number">0</span>
              </div>
            </div>
            </div>
    </div>