{% extends 'registrar_admin/main.html' %}
{% load static %}
{% block subtitle %}Dashboard{% endblock %}
{% block first %}home {% endblock %}
{% block second %}dashboard{% endblock %}
{% block content%}


<div class="row">
  <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box shadow pr-5">
        <div style="position: relative; height:400px; width:1000px">
           <canvas id="myChart2"></canvas>
          </div>
  <script>
var ctx2 = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx2, {
type: 'doughnut',
data: {
labels: ['Registared Institution', 'System Users', 'Generated certificate', 'page views'],
datasets: [{
    label: '# Dashboard',
    data: [{{total_unv}}, {{users}}, {{certificate_generation}}, 5],
    backgroundColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ],
    borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ],
    borderWidth: 1
}]
},
options: {
scales: {
    y: {
        beginAtZero: false
    }
}
}
});
</script>
    </div>
  </div>

  <div class="col-md-5 col-sm-6 col-12">
    <div style="position: relative; height:300px; width:800px; padding-left: 20px; margin-left: 5px; margin-right: 50px">
      <canvas id="myChart4"></canvas>
      </div>

      <script>
        var ctx4 = document.getElementById('myChart4').getContext('2d');
        var myChart4 = new Chart(ctx4, {
        type: 'bar',
        data: {
        labels: ['Uploaded File', 'Deleted Acadamic Status', 'Student Registry', 'Deleted Certificate'],
        datasets: [{
            label: '# Activity logs',
            data: [{{academic_upload}}, {{acadmic_status_deletion}}, {{student_registry}}, {{student_deletion}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
              
            ],
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: false
            }
        }
        }
        });
        </script>
  </div>


</div>





<div class="row">
    <div class="col-6">
        <div class="card card-info shadow-sm">
            <div class="card-header">
              <h3 class="card-title">Recent registered Faculties</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus text-white"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0 ">
              <table class="table">
                <thead>
                  <tr>
                    <th>Faculty  Name</th>
                    <th>Program</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
         {% for faculty in faculties %}
                  <tr>
                    <td>{{faculty.name}}</td>
                    <td>{{faculty.total_programs}}</td>
                 
                    <td class="text-right py-0 align-middle">
                      {% if request.user.is_registrar_admin %}
                      <div class="btn-group btn-group-sm">
                        <a href="#" onclick="deletingFaculty({{faculty.id}})"><i class="fa fa-trash-alt text-lg text-danger mr-3"></i></a>
                      </div>
                      {% endif %}
                    </td>
                
                 
                  </tr>
                  {% endfor%}
                  
                </tbody>
              </table>
            </div>
          </div>
    </div>
    <div class="col-6">
        <div class="card card-info shadow-sm">
            <div class="card-header">
              <h3 class="card-title ">Recent registered Programs</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool"  data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0 ">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>year required</th>
                    <th> type of degree</th>
                  </tr>
                </thead>
                <tbody>
         {% for program in programs %}
                  <tr>
                    <td>{{program.name}}</td>
                    <td>{{program.year_required}}</td>
                    <td>{{program.degree_type}}</td>
                   
                   
                    <td class="text-right py-0 align-middle">
                      {% if request.user.is_registrar_admin %}
                      <div class="btn-group btn-group-sm">
                        
                        <a href="{% url 'registrar_admin:update_program' program.id  %}" ><i class="fa fa-edit text-lg mr-2"></i></a>
                       
                        <a href="#" onclick="deletingProgram({{program.id}})"><i class="fa fa-trash-alt text-lg text-danger"></i></a>
                      </div>
                      {% endif %}
                    </td>
                   
                 
                  </tr>
                  {% endfor%}
                  
                </tbody>
              </table>
            </div>
          </div>
    </div>
</div>
{% endblock %}


{% block javascript %}


<script>
  function deletingFaculty(id){
   Swal.fire({
     "title":"Are you sure",
     "text":"You want to delete this Faculty ",
     "icon":"question",
     "showCancelButton":true,
     "cancelButtonText":"No, Cancel",
     "confirmButtonText":"Yes, Delete",
     "reverseButtons":true,
     "confirmButtonColor":"#dc3545",
     "cancelButtonColor":"#17a2b8",
     "width":330,
     "height":70,


   })
   .then(function(result) {
     if (result.isConfirmed){
       window.location.href="/registrar_admin/delete_faculty/"+id+"/"
     }
   })
  }


  function deletingProgram(id){
   Swal.fire({
     "title":"Are you sure",
     "text":"You want to delete Program ",
     "icon":"question",
     "showCancelButton":true,
     "cancelButtonText":"No, Cancel",
     "confirmButtonText":"Yes, Delete",
     "reverseButtons":true,
     "confirmButtonColor":"#dc3545",
     "cancelButtonColor":"#17a2b8",
     "width":330,
     "height":70,


   })
   .then(function(result) {
     if (result.isConfirmed){
       window.location.href="/registrar_admin/delete_program/"+id+"/"
     }
   })
  }

</script> 

{% endblock %}   