{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4 ">
    <!-- Brand Logo -->
    <a href="#" class="brand-link ">
      <img src="{% static 'dist/img/gra.jpg' %}" alt="e-HECAS Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"><b class="text-primary">e</b> <span class="text-white font-italic font-weight-bolder">-HEDVS</span> </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/1.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"> {{request.user}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
       
          <li class="nav-item">
            <a href="{% url 'graduates:home' %}" class="nav-link {% block active %}{% endblock %}">
                <i class="nav-icon fas fa-tachometer-alt text-olive"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
         
          <li class="nav-item ">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-file-excel text-olive"></i>
              <p >
                 Excel Upload
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'graduates:upload' %}" class="nav-link">
                  <i class="fas fa-user-alt nav-icon"></i>
                  <p class="text-lightblue">Student Registration </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'graduates:academic' %}" class="nav-link">
                  <i class="fas fa-pen-alt nav-icon"></i>
                  <p class="text-lightblue">Academical Status</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'graduates:graduation' %}" class="nav-link">
                  <i class="fas fa-pen-alt nav-icon"></i>
                  <p class="text-lightblue">Graduation Result</p>
                </a>
              </li>
            </ul>
        </li>
       
         
          
          <li class="nav-item ">
            <a href="{% url 'graduates:staff' %}" class="nav-link ">
              <i class="nav-icon fa fa-graduation-cap text-orange"></i>
              <p>
               Graduates
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'graduates:student' %}" class="nav-link ">
              <i class="nav-icon fa fa-certificate text-olive"></i>
              <p>
                certificate
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="{% url 'graduates:status' %}" class="nav-link ">
              <i class="nav-icon fa fa-history text-olive"></i>
              <p>
                Academical Status
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link ">
              <i class="nav-icon fa fa-question-circle text-orange"></i>
              <p>
                Request
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
